/* stylelint-disable no-eol-whitespace */
//-------------------------------------------------------------------
// Helpers
//-------------------------------------------------------------------

=page-padding
  padding: d(4)

  +mq($s-small)
    padding: d(7) d(10)

  +mq($s-medium)
    padding: d(10) d(20)

=form-element
  display: flex
  flex-direction: column

  label
    +body-small

  input, select, textarea
    +body-small
    margin-top: d(.5)